:root {
  --base-length: 72vw;
  --base-color: #151515;
  --base-color__ui: #ccc;
  --base-font: sans-serif;
  --container-width: 500px;
  --media--desktop: 600px;
}

@media only screen and (min-width: 500px) {
  :root {
    --base-length: 400px;
  }
}

html,
body {
  font-family: var(--base-font);
  font-size: 18px;
  color: var(--base-color);
  line-height: 1.2;
}

button,
input {
  font: inherit;
}

a,
a:visited {
  color: blue !important;
  text-decoration: none;
}

a:nth-child(odd) {
  color: red !important;
}

.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  left: -9999px;
  top: -9999px;
}

.bold {
  font-weight: bold;
}

.header {
  text-align: center;
  white-space: nowrap;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 500px) {
  .header {
    margin: 1.5rem 0 2rem 0;
  }
}

.header__image {
  position: relative;
  top: 0.7rem;
  height: 3rem;
  width: 3rem;
}

.header__title {
  margin: 0 0.5rem;
  font-size: 2.4rem;
  line-height: 1.5;
}

@media only screen and (min-width: 500px) {
  .header__title {
    display: inline-block;
  }
}

.header__nav-item {
  margin: 0 0.5rem;
}

.main {
  padding: 0 2rem;
  margin-bottom: 2.5rem;
}

@media only screen and (min-width: 500px) {
}

.main__description {
  text-align: center;
  margin: 0 auto 2.75rem auto;
  max-width: var(--container-width);
}

@media only screen and (min-width: 500px) {
  .main__description {
    margin-bottom: 3.5rem;
  }
}

.input-detail__value {
  display: none;
}

.input-detail__container {
  width: var(--base-length);
  margin: 0 auto;
}

.input-detail__actions {
  border: 4px dashed var(--base-color__ui);
  border-bottom: none;
  padding: 0.4rem 0.16rem;
}

.input-detail__action {
  padding: none;
  background: none;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
}

@media only screen and (min-width: 500px) {
  .input-detail__action {
    font-size: 1.4rem;
  }
}

.form-img {
  position: relative;
  width: var(--base-length);
  margin: 0 auto;
  background: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2"><path d="M1 2V0h1v1H0v1z" fill-opacity=".025"/></svg>');
  background-size: 28px 28px;
}

.form-img__label {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  line-height: 1.4;
  padding: 0 1.5rem;
}

.form-img__input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.palette {
  width: var(--base-length);
  height: var(--base-length);
  border: 4px dashed var(--base-color__ui);

  /* pixelate */
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.palette__overlay {
  position: absolute;
  width: var(--base-length);
  height: var(--base-length);
  display: flex;
  flex-direction: column;
}

.pixel-info__row {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.pixel-info__item-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  font-family: monospace;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.pixel-info__item-wrapper:hover {
  opacity: 1;
}

.pixel-info__item {
  position: absolute;
  padding: 0.6rem 0.4rem;
  background-color: #fff;
  background-color: #ffffff80;
}
